<!DOCTYPE html>
<html>
  <%- include("./common/head.ejs") %>
  <body>
    <%- include("./common/header.ejs") %>
    <section class="main floatfix">
      <%- include("./common/aside.ejs") %>
      <section class="main-articles about">
        <h2>关于博客</h2>
        <p>本博客主要分享Node.js和前端技术，希望和大家共同成长。</p>
      </section>
    </section>
    <%- include("./common/footer.ejs") %>
  </body>
</html>
